{% load staticfiles cache thumbnail i18n %}
<div class="servicios">
    <div class="container cabecera">
        <div class="titulo">Servicios /</div>
        <div class="subtitulo">Herramientas digitales</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="">
                <div class="col s12 m4">
                    <div class="center card-servicio">
                        <img class="img-servicio" src="{% static 'servicios/1.fotografia.svg' %}" alt=""><br>
                        <div class="titulo">Fotografía</div>
                        <br>
                        <div class="texto container">Fotografía profesional de tu negocio sin costo para ti
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="center card-servicio">
                        <img class="img-servicio" src="{% static 'servicios/2.portafoli.svg' %}" alt=""><br>
                        <div class="titulo">Portafolio</div>
                        <br>
                        <div class="texto container">Ofrecemos un portafolio personalizado para que tu negocio
                            sea
                            unico
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="center card-servicio">
                        <img class="img-servicio" src="{% static 'servicios/3.basedatos.svg' %}" alt=""><br>
                        <div class="titulo">Servidor 24/7</div>
                        <br>
                        <div class="texto container">Servicio todo el día, todos los días del año</div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="center card-servicio">
                        <img class="img-servicio" src="{% static 'servicios/4.redes.svg' %}" alt=""><br>
                        <div class="titulo">Redes Sociales</div>
                        <br>
                        <div class="texto container">No solo adjuntamos tus redes sociales a tu portafolio,
                            tambien
                            las administramos
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="center card-servicio">
                        <img class="img-servicio" src="{% static 'servicios/5.directorio.svg' %}" alt=""><br>
                        <div class="titulo">Directorio</div>
                        <br>
                        <div class="texto container">Nuestro directorio abarca una amplia gama de categorías
                            personalizadas
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="center card-servicio">
                        <img class="img-servicio" src="{% static 'servicios/6.vitrina.svg' %}" alt=""><br>
                        <div class="titulo">Vitrina Online</div>
                        <br>
                        <div class="texto container">Tipster te ofrece una vitrina online abierta las 24 horas
                            del
                            día
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="center card-servicio">
                        <img class="img-servicio" src="{% static 'servicios/7.asesoria.svg' %}" alt=""><br>
                        <div class="titulo">Asesoría Publicitaria</div>
                        <br>
                        <div class="texto container">Te ofrecemos asesoría publicitaria gratis</div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="center card-servicio">
                        <img class="img-servicio" src="{% static 'servicios/8.responsivo.svg' %}" alt=""><br>
                        <div class="titulo">Responsivo</div>
                        <br>
                        <div class="texto container">Diseño web adaptable al dispositivo donde sea visualizado
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="center card-servicio">
                        <img class="img-servicio" src="{% static 'servicios/9.ux.svg' %}" alt=""><br>
                        <div class="titulo">UX/UI</div>
                        <br>
                        <div class="texto container">La interfaz grafica se estudió para tener una mejor
                            experiencia
                            en el sitio
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>