{% load staticfiles cache thumbnail i18n %}

<div class="siguenos">
    <div class="container cabecera">
        <div class="titulo">Síguenos /</div>
        <div class="subtitulo">Ahora más conectados que nunca</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="">
                <a target="_blank" href="https://www.facebook.com/Tipster-1638362716467294/"><img src="{% static 'social/1.facebook.max.svg' %}" alt=""></a>
                <a target="_blank" href="https://twitter.com/Tipster99432744"><img src="{% static 'social/2.twitter.max.svg' %}" alt=""></a>
                <a target="_blank" href="https://www.instagram.com/tipster_valdivia/"><img src="{% static 'social/3.insta.max.svg' %}" alt=""></a>
                <a target="_blank" href="#!"><img src="{% static 'social/4.google.max.svg' %}" alt=""></a>
                <a target="_blank" href="#!"><img src="{% static 'social/5.pinterest.max.svg' %}" alt=""></a>
            </div>
        </div>
    </div>
</div>