{% load staticfiles cache thumbnail i18n %}
<div class="team" style="background: #f8f8f8">
    <div class="container cabecera">
        <div class="titulo">Equipo /</div>
        <div class="subtitulo">Multidiciplinario a prueba de todo</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="container">
                    <div class="col m4 persona center">
                        <img class="circle responsive-img" src="{% static 'equipo/paul.jpg' %}" alt="">
                        <span class="col s12 nombre">Paul</span>
                    </div>
                    <div class="col m4 persona center">
                        <img class="circle responsive-img" src="{% static 'equipo/hernan.jpg' %}" alt="">
                        <span class="col s12 nombre">Gabriel</span>
                    </div>
                    <div class="col m4 persona center">
                        <img class="circle responsive-img" src="{% static 'equipo/gabriel.jpg' %}" alt="">
                        <span class="col s12 nombre">Matías</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>