{% load staticfiles cache thumbnail humanize %}
<a href="{% url 'detail-store' s.slug %}"
   class="black-text col s12 m6 l4 main-tienda"
   id="tienda-{{ s.id }}">
    <div class="card-panorama hoverable card-recomienda">
        <div class="cabecerapanorama center">
            <span class="card-title">
                {% if s.panorama_para %}
                    {{ s.panorama_para }}
                {% elif s.get_tipo_panorama_display %}
                    {{ s.panorama_para }}
                {% endif %}
            </span>
            <br>

            {% if s.horario_semana_inicio|date:"H:i" < now_|date:"H:i" and s.horario_semana_fin|date:"H:i" > now_|date:"H:i" %}
                <span class="estado green-text">Abierto Ahora~</span>
            {% else %}
                <span class="estado red-text">Cerrado~</span>
            {% endif %}
        </div>

        {% if s.get_foto_tarjeta %}
            <img class="img-responsive"
                 src="{{ s.get_foto_tarjeta.archivo|thumbnail_url:'min_tienda' }}">
        {% else %}
            <img class="img-responsive"
                 src="{% static 'img/default-event.jpg' %}">
        {% endif %}
        <div class="piepanorama col s12">

            <span class="col s12 titulopanorama center">{{ s.nombre|truncatechars:24 }}</span><br>
            <div class="col s2 white-text contenedor-nota">
                {% if s.promedio_evaluacion < 4 %}
                    <span class="nota red">{{ s.promedio_evaluacion }}</span>
                {% else %}
                    <span class="nota green">{{ s.promedio_evaluacion }}</span>
                {% endif %}
            </div>
            {% if s.categoria %}
                <img class="icono col s2 invert-color"
                     src="{{ MEDIA_URL }}{{ s.categoria.icono }}" alt="{{ s.categoria.nombre }}">
                <span class="categoria col s4">{{ s.categoria }}</span>
            {% else %}
                <img class="icono col s2 invert-color"
                     src="{{ MEDIA_URL }}{{ s.categoria.icono }}" alt="{{ s.categoria.nombre }}">
                <span class="categoria col s4"></span>
            {% endif %}
            {% if s.precio %}
                <span class="categoria col s3">|${{ s.precio|intcomma }}|</span>
            {% else %}
                <span class="categoria col s3">{# |  $$$  | #}</span>
            {% endif %}
            {% comment %}
            <img class="icono col s2"
                 src="{% static 'icons/ic_location_on_black_24px.svg' %}"
                 alt="">
            <span class="categoria col ">{{ s.comuna.nombre }}</span>
            {% endcomment %}

        </div>
        <div class="resenna col s12 hide-on-med-and-down">
            <div class="col s2">
                {% if s.ultimo_comentario.id_usuario %}
                    <img class="img-rounded"
                         src="https://graph.facebook.com/{{ s.ultimo_comentario.id_usuario }}/picture?type=large"
                         alt="">
                {% else %}
                    <img class="img-rounded"
                         src="{% static 'icons/user.svg' %}"
                         alt="">
                {% endif %}
            </div>
            {% if s.ultimo_comentario %}
                <div class="col s10">
                    <div class="nombre">{{ s.ultimo_comentario.nombre|truncatechars_html:30 }}</div>
                    <br>
                    <div class="contenido">{{ s.ultimo_comentario.texto|truncatechars_html:40 }}</div>
                </div>
            {% else %}
                <div class="col s10">
                    <div class="nombre"><br></div>
                    <br>
                    <div class="contenido"><br></div>
                </div>
            {% endif %}
        </div>
        {% if s.direccion %}
            <div class="direccion col s12">
                <div class="contenido">
                    <img class="ubicacion-icon" src="{% static 'icons/ubicacion.svg' %}" alt=""> {{ s.direccion|truncatechars_html:30 }}
                </div>
            </div>
        {% endif %}
    </div>
</a>